<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Detail Pustakawan</title>
	    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	    <nav th:replace="fragments/fragment :: navbar"></nav>
	    <br>
	     <div class="container">	        
	        <div class="row">
	        	<div class="col-md-3"></div>
	            <div class="col-md-6">
	            	 <div class="card">
	                    <div class="card-header text-center"><b>Detail Pustakawan</b></div>
	                    <div class="card-body"> 
	                    	<div class="row">
		                    	<div class="col-md-6">
				                    <ul class="list-group list-group-flush">
									  <li class="list-group-item list-group-item-light"><b>Nama</b></li>
									  <li class="list-group-item list-group-item-light"><b>NIP</b></li>
									  <li class="list-group-item list-group-item-light"><b>Tempat/Tanggal Lahir</b></li>
									  <li class="list-group-item list-group-item-light"><b>Jenis Kelamin</b></li>
									  <li class="list-group-item list-group-item-light"><b>Spesialisasi</b></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list-group list-group-flush">
									  <li class="list-group-item" th:text="${pustakawan.nama}"></li>
									  <li class="list-group-item" th:text="${pustakawan.nip}"></li>
									  <li class="list-group-item" th:text="${pustakawan.tempat_lahir} + '/' + ${pustakawan.tanggal_lahir}"></li>
									  <li class="list-group-item" th:text="${pustakawan.jenis_kelamin} == 1 ? 'Laki-laki' : 'Perempuan'"></li>
									  <li class="list-group-item" th:if="${pustakawan.setOfSpesialisasi.size() == 0}">-</li>
									  <li class="list-group-item" th:each="spesialisasi,iterationStatus : ${pustakawan.setOfSpesialisasi}">
									  	<span th:text="${spesialisasi.nama}"></span>					  
									  </li>
									</ul> 
								</div>
							</div>         
	                	 </div>
                	 </div>		        
	            </div>
	            <div class="col-md-3"></div>
	        </div>        
	    </div> 
	</body>
</html>